.backgroundIMG {
  height: 1000px;
  background-image: url('https://images.pexels.com/photos/784633/pexels-photo-784633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px;
}
