* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @include colorGradient(black, #123547);
}
.navbar {
  @include colorGradient($yellow, $blue);
  color: #123547;
  font-weight: bold;
}
.navbar-brand {
  font-family: 'Fontdiner Swanky', ;
}
.navLang {
  a {
    text-transform: uppercase;
  }
}
