* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @include colorGradient(black, #123547);
}
.navbar {
  @include colorGradient($yellow, $blue);
  font-weight: bold;
}
.navbar-nav {
  .nav-item {
    .nav-link.active {
      color: $red;
    }
  }
}
.navbar-brand { //logo nella navbar
  font-family: 'Fontdiner Swanky', ;
}
.navLang { //settaggio lingua nella navbar pubblica
  a {
    text-transform: uppercase;
  }
}
