.home {
  background-image: url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  .title {
    margin-top: 15%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    width: 100%;
    &:hover {
      cursor: context-menu;
    }
    h1 {
      font-size: 100px;
      margin-left: -80%;
      @include textColorGradient($blue, $yellow);
    }
    h2 {
      display: none;
      margin-left: $marginSlogan;
      margin-bottom: 40px;
      font-size: 60px;
      @include textColorGradient($yellow, $blue);
    }
    a {
      display: none;
      margin-top: 60px;
      margin-left: $marginSlogan;
      font-size: 35px;
      border-radius: 30px;
    }
  }
}
@media screen and (max-width:992px) {
  .home {
    .title {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 30px;
      }
      a {
        font-size: 12px;
      }
    }
  }
}
