.home {
  background-image: url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: flex;
  .title {
    margin-top: 15%;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    h1 {
      font-size: 90px;
      margin-left: -80%;
      @include textColorGradient($red, $yellow);
    }
    h2 {
      display: none;
      margin-left: 50%;
      font-size: 50px;
      @include textColorGradient($red, $yellow);
    }
  }
}
