.containerInfo {
  background-image: url('https://images.pexels.com/photos/1907244/pexels-photo-1907244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  height: 615px;
  display: flex;
  flex-direction: column;
  background-position: bottom;
  font-family: 'Permanent Marker', ;
  color: $white;
  padding: 20px;

  h1 {
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 50px;
    color: $blue;
  }
  h2 {
    margin-left: 16%;
  }
}
.containerInfo:hover {
  cursor: context-menu;
}

@media screen and (max-width:768px) {
  .containerInfo {
    overflow-y: auto;
    h2 {
      margin-left: 0;
    }
  }
}
