.showBackground {
  background-image: url('https://images.pexels.com/photos/326278/pexels-photo-326278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  .col-sm-12 {
    margin-top: 20px;
    h6 {
      padding-top: 15px;
    }
  }
}
