.backgroundSingle {
  background-image: url('https://images.pexels.com/photos/1528013/pexels-photo-1528013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  .col-sm-12 {
    margin-top: 20px;
    h6 {
      padding-top: 15px;
    }
  }
}
